h1{
    color: blue;
    font-family: "Oswald";
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}h1{
    color: blue;
    font-family: "Oswald";
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: rgb(161, 160, 160);
    font-family:  "Oswald";
    font-size:  2rem;
    text-align: center;
    text-transform: uppercase;
}
