h1{
    color: blue;
    font-family: "Oswald";
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: gainsboro;
    font-family: "Oswald";
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}